@model bsis3a_webapp.Models.ViewModel.TypeViewModel

<div class="mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Delete</h2>
        </div>
    </div>
    <form method="post">
        <div class="form-group">
            <input asp-for="Type.Id" hidden>
           <label asp-for="Items"></label>
           <<select asp-for="Type.ItemId" disabled asp-items="Model.selectListItems(Model.Items)" class="form-control"></select>
           
        </div>
        <div class="form-group">
            <label asp-for="Type.Name"></label>
            <input asp-for="Type.Name" disabled type="text" class="form-control" >
            <span asp-validation-for="Type.Name" class="text-danger"></span>
            
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-success">Back</a>
    </form>
</div>
